{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "rgb_compression": "yes",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "back.png": {
        "alpha_dither": "no"
      },
      "left.png": {
        "alpha_dither": "no"
      },
      "load.png": {
        "format": "ARGB8888",
        "l8_compression": "no",
        "rgb_compression": "no"
      },
      "mode.png": {
        "alpha_dither": "no"
      },
      "right.png": {
        "alpha_dither": "no"
      },
      "sensitivity.png": {
        "format": "L8_ARGB8888",
        "l8_compression": "no"
      },
      "sensors.png": {
        "alpha_dither": "no"
      },
      "settings.png": {
        "alpha_dither": "no"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}